body, html {
	margin: 0;
	padding: 0;
}
h1.site-name, .messages {
	display: none;
	visibility: hidden;
}
.l-content {
	padding: $all-round;
}
.middle-wrapper { 
	.left-sidebar-wrapper {
		display: none;
		visibility: hidden;
	}
	.right-sidebar-wrapper {
		
		margin-top: 150px;
	}
}
@include breakpoint(tablet) {
	.middle-wrapper {
		max-width: 1140px;
		margin: 0 auto;
		display: flex;
		.left-sidebar-wrapper {
			flex: 1 0 25%;
			padding: $vert-spacing-unit 0;
margin-top: 205px;
			display: block;
			visibility: visible;
		}
		.right-sidebar-wrapper {
			flex: 1 0 75%;
			margin-top: 205px;
			padding: $all-round;
			.file-image {
				float: right;
				margin: 0 0 $horz-spacing-unit $horz-spacing-unit;

			}
			
		}
	}
}